<h2>Crear Alquiler</h2>

<form (submit)="crearAlquiler()">
  <div class="mb-3">
    <label for="plazoMeses">Plazo (Meses):</label>
    <input type="number" id="plazoMeses" name="plazoMeses" [(ngModel)]="alquiler.plazoMeses" required>
  </div>

  <div class="mb-3">
    <label for="costoalquiler">Costo de Alquiler:</label>
    <input type="number" id="costoalquiler" name="costoalquiler" [(ngModel)]="alquiler.costoalquiler" required>
  </div>

  <div class="mb-3">
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" [(ngModel)]="alquiler.fecha" required>
  </div>

  <div class="mb-3">
    <label for="local">Local:</label>
    <select class="form-select" id="local" name="local" [(ngModel)]="alquiler.local.titulo" required>
      <option *ngFor="let local of locales" [ngValue]="local._id">{{ local.titulo }}</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="propietario">Propietario:</label>
    <select class="form-select" id="propietario" name="propietario" [(ngModel)]="alquiler.propietario.nombre" required>
      <option *ngFor="let propietario of propietarios" [ngValue]="propietario._id">{{ propietario.apellido }}, {{ propietario.nombre }}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
