<div class="container mt-5">
    <h2 class="mb-4">Pagos Realizados</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Monto</th>
          <th scope="col">Medio de Pago</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí se rellenarán los pagos dinámicamente -->
        <tr>
          <th scope="row">1</th>
          <td>2024-07-01</td>
          <td>$1000</td>
          <td>Tarjeta de Crédito</td>
          <td>Completado</td>
        </tr>
      </tbody>
    </table>
</div>